# Final Assignment

1. What are the socio-demographic variables we want to use?
    * age  
    * gender 
    * educational attainment  
    * income level  
    * race / ethnicity    

2. Types of models to test:  
    * Logistic regression  
    * Neural network  

3. Outcome variables to predict:  
    * fertility
    * (did you spend time in a hospital) ch07a229; ch08b229; ch09c229; ch10d229; ch11e229; ch12f229; ch13g229; ch15h229; ch16i229; ch17j229; ch18k229; ch19l229; ch20m229  
    * (how would you describe your health 1-5) ch07a004; ch08b004; ch09c004; ch10d004; ch11e004; ch12f004; ch13g004; ch15h004; ch16i004; ch17j004; ch18k004; ch19l004; ch20m004  
    * (is your health better or worse than last year) ch07a005; ch08b005; ch09c005; ch10d005; ch11e005; ch12f005; ch13g005; ch15h005; ch16i005; ch17j005; ch18k005; ch19l005; ch20m005  

4. Build a few comparison models for predicting fertility. Pick the best baseline model, and try with other outcome variables.

## Baseline Model 1: Logistic Regression Model

Here, we predict fertility using a logistic regression model of demographic variables. We compare the accuracy metrics against the models submitted for Assignment 2.

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import precision_recall_fscore_support, precision_recall_curve
from sklearn import preprocessing
import random

In [2]:
# find demographic variables in codebook
codebook = pd.read_csv('5e8ab08c-b634-4948-8b47-8792d36d753f/codebooks/PreFer_codebook_summary.csv') 
# print(codebook.columns)

# see what background variables are in the dataset
background_vars = codebook[codebook['survey'] == 'Background Variables']['var_label_across_waves']
# print(background_vars) # uncomment to see all variables

## variables that could be useful ('var_label_across_waves')
# Level of education in CBS (Statistics Netherlands) categories
# Year of birth [imputed by PreFer organisers]
# Gender [imputed by PreFer organisers]
# Origin [imputed by PreFer organisers]
# Gross household income in Euros

# find the variable names
vars_list = [
    'Level of education in CBS (Statistics Netherlands) categories',
    'Year of birth [imputed by PreFer organisers]',
    'Gender [imputed by PreFer organisers]',
    'Origin [imputed by PreFer organisers]',
    'Gross household income in Euros'
]
filtered_rows = codebook[codebook['var_label_across_waves'].isin(vars_list)]

# show variable labels + names
filtered_rows[['var_label_across_waves', 'var_names']]

,var_label_across_waves,var_names
3276,Year of birth [imputed by PreFer organisers],birthyear_bg
3277,Gender [imputed by PreFer organisers],gender_bg
3278,Origin [imputed by PreFer organisers],migration_background_bg
3281,Gross household income in Euros,brutohh_f_2007; brutohh_f_2008; brutohh_f_2009...
3289,Level of education in CBS (Statistics Netherla...,oplcat_2007; oplcat_2008; oplcat_2009; oplcat_...
3314,Level of education in CBS (Statistics Netherla...,oplcat; oplcat; oplcat; oplcat; oplcat; oplcat...
3321,Gross household income in Euros,brutohh_f; brutohh_f; brutohh_f; brutohh_f; br...
3325,Year of birth [imputed by PreFer organisers],birthyear_imp; birthyear_imp; birthyear_imp; b...
3326,Gender [imputed by PreFer organisers],gender_imp; gender_imp; gender_imp; gender_imp...
3327,Origin [imputed by PreFer organisers],migration_background_imp; migration_background...

In [3]:
# get list of var_names
background_var_names = [
    'nomem_encr',
    'birthyear_imp', # imputed year of birth
    'gender_imp', # imputed gender
    'migration_background_imp', # origin
    'oplcat', # education
    'brutohh_f', # gross household income
    
]

# find demographic variables in codebook
background_data = pd.read_csv('other_data/PreFer_train_background_data.csv') 
# display(background_data[background_var_names].drop_duplicates()) # lots of duplicates and multiple entries due to income over waves

# take mean of income and median education across waves (grouped by unique IDs)
grouped_data = background_data[background_var_names].groupby('nomem_encr').agg({'brutohh_f': 'mean', 'oplcat': 'median'})
grouped_data = grouped_data.reset_index()
# impute NAs with median (this is if data is missing for all waves for this ID)
grouped_data['brutohh_f'] = grouped_data['brutohh_f'].fillna((grouped_data['brutohh_f'].median()))
grouped_data['oplcat'] = grouped_data['oplcat'].fillna((grouped_data['oplcat'].median()))
display(grouped_data.head())

merge_data = background_data[background_var_names[:-2]].drop_duplicates()
# fix NaNs on migration; for simplicity, let's recode to Dutch or not Dutch
# "c(`Dutch background` = 0, `First generation foreign, Western background` = 101, `First generation foreign, non-western background` = 102, `Second generation foreign, Western background` = 201, `Second generation foreign, non-western background` = 202, `Origin unknown or part of the information unknown (missing values)` = 999)",1
merge_data['migration_background_imp'] = np.where(merge_data['migration_background_imp'] > 0, 1, 0) # recode migration data
display(merge_data)

# merge data, this has only one row per unique ID
df = pd.merge(merge_data, grouped_data, on='nomem_encr')
display(df)
print(df.isna().sum()) # no NaNs

   nomem_encr     brutohh_f  oplcat
0      700003   2893.988671     3.0
1      700004  11177.777778     5.0
2      700008   7320.808037     4.0
3      700010   2165.512842     4.0
4      700016   3051.677046     3.0

        nomem_encr  birthyear_imp  gender_imp  migration_background_imp
0           700003           1965           2                         0
33          700004           1980           2                         0
51          700008           1991           2                         0
193         700010           1987           2                         0
225         700016           1984           1                         1
...            ...            ...         ...                       ...
758558      733177           1994           2                         1
758570      733178           1962           1                         0
758679      733179           1992           1                         0
758703      733181           1958           1                         0
758861      733183           1995           2                         0

[12854 rows x 4 columns]

,nomem_encr,birthyear_imp,gender_imp,migration_background_imp,brutohh_f,oplcat
0,700003,1965,2,0,2893.988671,3.0
1,700004,1980,2,0,11177.777778,5.0
2,700008,1991,2,0,7320.808037,4.0
3,700010,1987,2,0,2165.512842,4.0
4,700016,1984,1,1,3051.677046,3.0
...,...,...,...,...,...,...
12849,733177,1994,2,1,5680.000000,4.0
12850,733178,1962,1,0,3763.564356,4.0
12851,733179,1992,1,0,10434.437570,4.0
12852,733181,1958,1,0,4608.940516,5.0
12853,733183,1995,2,0,4394.290049,4.0

nomem_encr                  0
birthyear_imp               0
gender_imp                  0
migration_background_imp    0
brutohh_f                   0
oplcat                      0
dtype: int64

In [4]:
# is outcome available?
main_data = pd.read_csv('training_data/PreFer_train_data.csv') 

# get IDs that have outcome data
have_outcome = main_data[main_data['ch20m004'].isna() == False]['nomem_encr']
# display(have_outcome.head())

/var/folders/br/556vkbgd3sx0dxk5j3rczcy80000gn/T/ipykernel_72684/951928837.py:2: DtypeWarning: Columns (2583,2584,2585,2586,2587,2588,2589,4358,4359,4360,4361,4362,4363,4364,4365,4366,4367,4368,4369,4370,4371,4372,4373,4374,4375,4379,4380,4381,4382,4383,4384,4385,4386,4387,4388,4389,4390,4391,4392,4393,4394,4395,4396,4397,4398,4399,4400,4401,4405,4406,4407,4408,4409,5215,5216,5219,5220,5613,5614,5615,5616,5617,5618,5619,5620,5621,5622,5624,5625,5626,5627,5628,5629,5630,5631,5632,5633,5634,5635,5636,5638,5639,5640,5787,5788,5789,5790,5791,5792,5793,5794,5795,5796,6393,6394,6395,6396,6397,6398,6399,6400,6401,6402,6403,6619,6620,6621,6622,6623,6624,6625,6626,6627,6628,6629,6630,6631,6632,6633,6634,6635,6638,6640,6641,6642,6643,6644,6645,6646,6647,6648,6649,6650,6651,6652,6653,6654,6655,6656,6657,6658,6659,6660,6661,6664,6666,6667,6668,6669,6670,6965,6966,6967,6968,6969,6970,6971,6972,6973,6974,6975,7064,7065,7066,7067,7068,7069,7070,7071,7072,7073,7074,7163,7164,7165,7166,7167,7168,7169,7170,7171,7172,7408,7409,7410,7411,7412,7413,7414,7415,7416,7417,7418,7419,7420,8818,8819,8820,8821,8822,8823,8824,8825,8826,8827,8828,9989,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999,10065,10066,10067,10068,10069,10070,10071,10072,10073,10074,10075,10076,10077,10078,10079,10080,10081,10082,10083,10085,10086,10087,10088,10089,10090,10091,10092,10093,10094,10095,10096,10097,10098,10099,10100,10101,10102,10103,10104,10105,10106,10107,10108,10109,10111,10112,10113,10114,10115,10116,10340,10341,10342,10343,10344,10736,10737,10738,10739,10740,10741,10742,10743,10744,10745,10746,10747,10748,11896,11897,11898,11899,11900,11901,11902,11903,11904,11905,11906,11907,12168,12169,12170,12171,12172,12173,12174,12175,12176,12177,12178,12179,12180,12181,12182,12183,12184,12185,12186,12187,12188,12189,12190,12191,12192,12193,13339,13340,13341,13342,13343,13344,13345,13346,13347,13348,13349,13488,13489,13490,13491,13492,13493,13494,13495,13496,13497,13498,13499,13500,13501,13502,13506,13507,13510,13511,13512,13513,13514,13515,13516,13517,13518,13519,13520,13521,13522,13523,13524,13525,13526,13530,13531,13534,13535,15787,15788,15789,15790,15791,15792,15793,15794,15795,15796,15797,15798,15799,15800,15801,15802,15805,15808,15809,15810,15811,15812,15813,15814,15815,15816,15817,15818,15819,15820,15821,15822,15823,15824,15825,15826,15829,15832,15833,15834,15951,15952,16600,16601,16602,16606,16607,16608,16612,16613,16754,16755,16756,16757,16758,16759,16760,16761,16762,16763,16764,16765,16848,17490,17491,17492,17493,17494,17495,17496,17497,17498,17499,17500,17501,17505,17506,17507,17508,17509,17510,17511,17512,17513,17514,17515,17516,17517,17521,17548,17549,17550,17551,17552,17553,17554,17555,17556,17559,17560,17563,17564,17605,17608,17628,17630,17644,17645,17646,17647,17648,17649,17650,17654,17655,17656,17657,17658,17659,17660,17797,17798,17799,17800,17801,17802,17807,17808,17809,17810,17811,17812,17813,17820,17821,17824,17914,17915,17916,17917,17980,17981,17982,17983,17984,17985,17986,17987,17988,17989,17990,17991,17992,17993,17994,17995,17996,17997,17998,17999,18000,18001,18002,18003,18004,18005,18006,18007,18008,18009,18010,18011,18012,18013,18014,18015,18055,18056,18057,18058,18059,18060,18061,18062,18063,18064,18065,18066,18067,18068,18069,18070,18071,18072,18073,18074,18075,18076,18077,18078,18079,18080,18081,18082,18083,18084,18085,18086,18087,18088,18089,18090,18091,18092,18093,18094,18095,18096,18097,18098,18099,18100,18101,18102,18103,18104,18105,18106,18107,18108,18109,18110,18111,18112,18197,18198,18199,18200,18201,18202,18204,18205,18206,18207,18208,18209,18210,18211,18212,18213,18215,18216,18217,18218,18219,18220,18221,18222,18223,18224,18225,18226,18227,18228,18229,18239,18241,18242,18243,18244,18245,18246,18247,18248,18249,18250,18251,18311,18317,18318,18319,18320,18322,18324,18329,18330,18331,18332,18333,18334,18335,18336,18337,18338,18339,18340,18341,18345,18347,18349,18351,18352,18353,18354,18355,18356,18357,18358,18359,18360,18361,18407,18409,18414,18416,18428,18429,18430,18431,18432,18433,18434,18435,18436,18437,18438,18441,18450,18451,18452,18453,18454,18455,18456,18457,18458,18459,18460,18744,18745,18746,18747,18748,18749,18750,18751,18752,18753,18754,18755,18756,18783,18784,18785,18786,18787,18788,18789,18790,18791,18792,18793,18794,18795,19062,19063,19064,19065,19066,19067,19068,19069,19070,19071,19072,19073,19074,19075,19076,19077,19078,19082,19083,19084,19085,19086,19087,19088,19089,19090,19091,19092,19093,19094,19095,19096,19097,19098,19099,19100,19101,19102,19103,19104,19108,19109,19110,19111,19112,19113,19141,19142,19143,19144,19145,19146,19147,19148,19149,19150,19160,19161,19162,19163,19164,19165,19166,19167,19168,19169,19170,19189,19190,19227,19228,20075,20076,20077,20078,20079,20080,20081,20082,20083,20084,20085,20086,20087,20165,20166,20167,20168,20169,20170,20171,20172,20173,20174,20175,20176,20177,20241,20242,20243,20244,20245,20246,20247,20248,20249,20250,20251,20252,20757,20758,20759,20760,20761,20762,20763,20764,20765,20766,20767,20768,20769,23130,23131,23132,23133,23134,23135,23136,23137,23138,23139,23140,23141,23142,23272,23273,23274,23275,23276,23277,23278,23279,23280,23281,23282,23283,23284,23414,23415,23416,23417,23418,23419,23420,23421,23422,23423,23424,23425,23426,23556,23557,23558,23559,23560,23561,23562,23563,23564,23565,23566,23567,23568,23698,23699,23700,23701,23702,23703,23704,23705,23706,23707,23708,23709,23710,23814,23815,23816,23817,23818,23819,23820,23821,23822,23823,23824,23825,23826,23827,23828,23829,23830,23835,23836,23837,23838,23839,23840,23841,23842,23843,23844,23845,23846,23847,23848,23849,23850,23851,23852,23853,23854,23855,23856,23861,23862,23863,23864,23865,24683,24684,24685,24686,24687,24688,24746,24747,24748,24749,24750,24751,24752,24974,24975,24976,24977,24978,24979,24980,24981,24982,24983,24984,24985,24986,24995,25003,25153,25154,25155,25156,25157,25158,25159,25160,25161,25162,25163,25190,25191,25192,25193,25194,25195,25196,25197,25198,25199,25200,25434,25435,25436,25437,25438,25439,25440,25441,25442,25443,25444,25445,25446,25530,25531,25532,25533,25534,25535,25536,25537,25538,25539,25540,25575,25576,25577,25578,25579,25580,25581,25582,25583,25584,25585,25658,25659,25660,25661,25662,25663,25664,25665,25666,25667,25668,25693,25694,25695,25696,25697,25698,25699,25700,25701,25702,25703,25728,25729,25730,25731,25732,25733,25734,25735,25736,25737,25738,25772,25773,25774,25775,25776,25777,25778,25779,25780,25781,25782,25849,25850,25851,25852,25853,25854,25855,25856,25857,25858,25859,25882,25883,25884,25886,25887,25888,25889,25890,25891,25892,25915,25916,25917,25918,25919,25920,25921,25922,25923,25924,25925,25959,25960,25961,25962,25963,25964,25965,25966,25967,25968,25969,26036,26037,26038,26039,26040,26041,26042,26044,26045,26046,26069,26070,26071,26072,26074,26075,26076,26077,26078,26079,26413,26414,26415,26416,26417,26418,26419,26420,26421,26422,26423,26424,26425,26865,26866,26867,26868,26869,26870,26871,26872,26873,26874,26875,26876,26877,26914,26915,26916,26917,26918,26919,26920,26921,26922,26923,26924,26925,26926,26963,26964,26965,26966,26967,26968,26969,26970,26971,26972,26973,26974,26975,27012,27015,27017,27018,27019,27020,27022,27023,27024,27061,27066,27068,27069,27070,27071,27073,27115,27118,27119,27120,27122,27164,27167,27168,27169,27171,27213,27216,27217,27218,27265,27266,27314,27810,27811,27812,27813,27814,27815,27816,27817,27818,27819,27820,27821,27822,27823,27824,27825,27826,27827,27828,27829,27830,27831,27832,27833,27834,27835,27839,27842,27844,27845,27846,27847,27848,27859,27861,27872,30979,30980,30981,30982,30983,30984,30985,30986,30987,30988,30989,30990,30991,30992,30993,30994,30995,30996,30999,31000,31001,31002,31003,31004,31005,31006,31007,31008,31009,31010,31011,31012,31013,31014,31015,31016,31017,31018,31019,31020,31021,31022,31025,31026,31027,31028,31029,31030) have mixed types. Specify dtype option on import or set low_memory=False.
  main_data = pd.read_csv('training_data/PreFer_train_data.csv')

In [5]:
# now we have just df of those who have outcome data
subset_df = df[df['nomem_encr'].isin(have_outcome)]

In [6]:
display(subset_df.head())

print(subset_df.isna().sum())

,nomem_encr,birthyear_imp,gender_imp,migration_background_imp,brutohh_f,oplcat
6,700025,2000,2,0,4069.947401,1.0
7,700026,1994,2,0,1230.714131,6.0
18,700050,1979,2,0,8351.851852,5.0
40,700112,1992,1,1,622.952502,5.0
45,700120,1996,1,0,2300.000000,4.0

nomem_encr                  0
birthyear_imp               0
gender_imp                  0
migration_background_imp    0
brutohh_f                   0
oplcat                      0
dtype: int64

In [9]:
# ready to train baseline model
# get outcome data
outcome_data = pd.read_csv('training_data/PreFer_train_data.csv')

outcome_data = outcome_data[['nomem_encr', 'ch20m004']]

# set X, y for the model training function
model_df = pd.merge(subset_df, outcome_data[outcome_data['nomem_encr'].isin(have_outcome)], on="nomem_encr")

# # normalize the income data in column brutohh_f
# normalized_data = preprocessing.normalize(model_df[['brutohh_f']])
# normalized_df = pd.DataFrame(normalized_data, columns=['brutohh_f'])

X = model_df.drop(['ch20m004', 'nomem_encr'], axis=1)
y = model_df['ch20m004']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=111)

/var/folders/br/556vkbgd3sx0dxk5j3rczcy80000gn/T/ipykernel_72684/1627649886.py:3: DtypeWarning: Columns (2583,2584,2585,2586,2587,2588,2589,4358,4359,4360,4361,4362,4363,4364,4365,4366,4367,4368,4369,4370,4371,4372,4373,4374,4375,4379,4380,4381,4382,4383,4384,4385,4386,4387,4388,4389,4390,4391,4392,4393,4394,4395,4396,4397,4398,4399,4400,4401,4405,4406,4407,4408,4409,5215,5216,5219,5220,5613,5614,5615,5616,5617,5618,5619,5620,5621,5622,5624,5625,5626,5627,5628,5629,5630,5631,5632,5633,5634,5635,5636,5638,5639,5640,5787,5788,5789,5790,5791,5792,5793,5794,5795,5796,6393,6394,6395,6396,6397,6398,6399,6400,6401,6402,6403,6619,6620,6621,6622,6623,6624,6625,6626,6627,6628,6629,6630,6631,6632,6633,6634,6635,6638,6640,6641,6642,6643,6644,6645,6646,6647,6648,6649,6650,6651,6652,6653,6654,6655,6656,6657,6658,6659,6660,6661,6664,6666,6667,6668,6669,6670,6965,6966,6967,6968,6969,6970,6971,6972,6973,6974,6975,7064,7065,7066,7067,7068,7069,7070,7071,7072,7073,7074,7163,7164,7165,7166,7167,7168,7169,7170,7171,7172,7408,7409,7410,7411,7412,7413,7414,7415,7416,7417,7418,7419,7420,8818,8819,8820,8821,8822,8823,8824,8825,8826,8827,8828,9989,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999,10065,10066,10067,10068,10069,10070,10071,10072,10073,10074,10075,10076,10077,10078,10079,10080,10081,10082,10083,10085,10086,10087,10088,10089,10090,10091,10092,10093,10094,10095,10096,10097,10098,10099,10100,10101,10102,10103,10104,10105,10106,10107,10108,10109,10111,10112,10113,10114,10115,10116,10340,10341,10342,10343,10344,10736,10737,10738,10739,10740,10741,10742,10743,10744,10745,10746,10747,10748,11896,11897,11898,11899,11900,11901,11902,11903,11904,11905,11906,11907,12168,12169,12170,12171,12172,12173,12174,12175,12176,12177,12178,12179,12180,12181,12182,12183,12184,12185,12186,12187,12188,12189,12190,12191,12192,12193,13339,13340,13341,13342,13343,13344,13345,13346,13347,13348,13349,13488,13489,13490,13491,13492,13493,13494,13495,13496,13497,13498,13499,13500,13501,13502,13506,13507,13510,13511,13512,13513,13514,13515,13516,13517,13518,13519,13520,13521,13522,13523,13524,13525,13526,13530,13531,13534,13535,15787,15788,15789,15790,15791,15792,15793,15794,15795,15796,15797,15798,15799,15800,15801,15802,15805,15808,15809,15810,15811,15812,15813,15814,15815,15816,15817,15818,15819,15820,15821,15822,15823,15824,15825,15826,15829,15832,15833,15834,15951,15952,16600,16601,16602,16606,16607,16608,16612,16613,16754,16755,16756,16757,16758,16759,16760,16761,16762,16763,16764,16765,16848,17490,17491,17492,17493,17494,17495,17496,17497,17498,17499,17500,17501,17505,17506,17507,17508,17509,17510,17511,17512,17513,17514,17515,17516,17517,17521,17548,17549,17550,17551,17552,17553,17554,17555,17556,17559,17560,17563,17564,17605,17608,17628,17630,17644,17645,17646,17647,17648,17649,17650,17654,17655,17656,17657,17658,17659,17660,17797,17798,17799,17800,17801,17802,17807,17808,17809,17810,17811,17812,17813,17820,17821,17824,17914,17915,17916,17917,17980,17981,17982,17983,17984,17985,17986,17987,17988,17989,17990,17991,17992,17993,17994,17995,17996,17997,17998,17999,18000,18001,18002,18003,18004,18005,18006,18007,18008,18009,18010,18011,18012,18013,18014,18015,18055,18056,18057,18058,18059,18060,18061,18062,18063,18064,18065,18066,18067,18068,18069,18070,18071,18072,18073,18074,18075,18076,18077,18078,18079,18080,18081,18082,18083,18084,18085,18086,18087,18088,18089,18090,18091,18092,18093,18094,18095,18096,18097,18098,18099,18100,18101,18102,18103,18104,18105,18106,18107,18108,18109,18110,18111,18112,18197,18198,18199,18200,18201,18202,18204,18205,18206,18207,18208,18209,18210,18211,18212,18213,18215,18216,18217,18218,18219,18220,18221,18222,18223,18224,18225,18226,18227,18228,18229,18239,18241,18242,18243,18244,18245,18246,18247,18248,18249,18250,18251,18311,18317,18318,18319,18320,18322,18324,18329,18330,18331,18332,18333,18334,18335,18336,18337,18338,18339,18340,18341,18345,18347,18349,18351,18352,18353,18354,18355,18356,18357,18358,18359,18360,18361,18407,18409,18414,18416,18428,18429,18430,18431,18432,18433,18434,18435,18436,18437,18438,18441,18450,18451,18452,18453,18454,18455,18456,18457,18458,18459,18460,18744,18745,18746,18747,18748,18749,18750,18751,18752,18753,18754,18755,18756,18783,18784,18785,18786,18787,18788,18789,18790,18791,18792,18793,18794,18795,19062,19063,19064,19065,19066,19067,19068,19069,19070,19071,19072,19073,19074,19075,19076,19077,19078,19082,19083,19084,19085,19086,19087,19088,19089,19090,19091,19092,19093,19094,19095,19096,19097,19098,19099,19100,19101,19102,19103,19104,19108,19109,19110,19111,19112,19113,19141,19142,19143,19144,19145,19146,19147,19148,19149,19150,19160,19161,19162,19163,19164,19165,19166,19167,19168,19169,19170,19189,19190,19227,19228,20075,20076,20077,20078,20079,20080,20081,20082,20083,20084,20085,20086,20087,20165,20166,20167,20168,20169,20170,20171,20172,20173,20174,20175,20176,20177,20241,20242,20243,20244,20245,20246,20247,20248,20249,20250,20251,20252,20757,20758,20759,20760,20761,20762,20763,20764,20765,20766,20767,20768,20769,23130,23131,23132,23133,23134,23135,23136,23137,23138,23139,23140,23141,23142,23272,23273,23274,23275,23276,23277,23278,23279,23280,23281,23282,23283,23284,23414,23415,23416,23417,23418,23419,23420,23421,23422,23423,23424,23425,23426,23556,23557,23558,23559,23560,23561,23562,23563,23564,23565,23566,23567,23568,23698,23699,23700,23701,23702,23703,23704,23705,23706,23707,23708,23709,23710,23814,23815,23816,23817,23818,23819,23820,23821,23822,23823,23824,23825,23826,23827,23828,23829,23830,23835,23836,23837,23838,23839,23840,23841,23842,23843,23844,23845,23846,23847,23848,23849,23850,23851,23852,23853,23854,23855,23856,23861,23862,23863,23864,23865,24683,24684,24685,24686,24687,24688,24746,24747,24748,24749,24750,24751,24752,24974,24975,24976,24977,24978,24979,24980,24981,24982,24983,24984,24985,24986,24995,25003,25153,25154,25155,25156,25157,25158,25159,25160,25161,25162,25163,25190,25191,25192,25193,25194,25195,25196,25197,25198,25199,25200,25434,25435,25436,25437,25438,25439,25440,25441,25442,25443,25444,25445,25446,25530,25531,25532,25533,25534,25535,25536,25537,25538,25539,25540,25575,25576,25577,25578,25579,25580,25581,25582,25583,25584,25585,25658,25659,25660,25661,25662,25663,25664,25665,25666,25667,25668,25693,25694,25695,25696,25697,25698,25699,25700,25701,25702,25703,25728,25729,25730,25731,25732,25733,25734,25735,25736,25737,25738,25772,25773,25774,25775,25776,25777,25778,25779,25780,25781,25782,25849,25850,25851,25852,25853,25854,25855,25856,25857,25858,25859,25882,25883,25884,25886,25887,25888,25889,25890,25891,25892,25915,25916,25917,25918,25919,25920,25921,25922,25923,25924,25925,25959,25960,25961,25962,25963,25964,25965,25966,25967,25968,25969,26036,26037,26038,26039,26040,26041,26042,26044,26045,26046,26069,26070,26071,26072,26074,26075,26076,26077,26078,26079,26413,26414,26415,26416,26417,26418,26419,26420,26421,26422,26423,26424,26425,26865,26866,26867,26868,26869,26870,26871,26872,26873,26874,26875,26876,26877,26914,26915,26916,26917,26918,26919,26920,26921,26922,26923,26924,26925,26926,26963,26964,26965,26966,26967,26968,26969,26970,26971,26972,26973,26974,26975,27012,27015,27017,27018,27019,27020,27022,27023,27024,27061,27066,27068,27069,27070,27071,27073,27115,27118,27119,27120,27122,27164,27167,27168,27169,27171,27213,27216,27217,27218,27265,27266,27314,27810,27811,27812,27813,27814,27815,27816,27817,27818,27819,27820,27821,27822,27823,27824,27825,27826,27827,27828,27829,27830,27831,27832,27833,27834,27835,27839,27842,27844,27845,27846,27847,27848,27859,27861,27872,30979,30980,30981,30982,30983,30984,30985,30986,30987,30988,30989,30990,30991,30992,30993,30994,30995,30996,30999,31000,31001,31002,31003,31004,31005,31006,31007,31008,31009,31010,31011,31012,31013,31014,31015,31016,31017,31018,31019,31020,31021,31022,31025,31026,31027,31028,31029,31030) have mixed types. Specify dtype option on import or set low_memory=False.
  outcome_data = pd.read_csv('training_data/PreFer_train_data.csv')

In [10]:
X_test

      birthyear_imp  gender_imp  migration_background_imp    brutohh_f  oplcat
1500           1990           2                         0  3358.017147     4.0
524            1991           1                         0  2874.782609     5.0
1017           1992           1                         0  8857.629091     3.0
374            1982           1                         0  4868.117677     4.0
100            1987           1                         0  7602.905674     5.0
...             ...         ...                       ...          ...     ...
1006           1993           2                         0  2727.915636     3.0
1391           2001           1                         0  5735.053549     1.0
1254           1993           1                         0  3800.000000     4.0
866            2000           2                         0  3435.483785     3.0
1514           1997           2                         0  1348.656015     6.0

[520 rows x 5 columns]

In [11]:
y_test

1500    2.0
524     5.0
1017    3.0
374     3.0
100     5.0
       ...
1006    3.0
1391    4.0
1254    3.0
866     4.0
1514    3.0
Name: ch20m004, Length: 520, dtype: float64

In [12]:
y.info()
print(y.value_counts())

<class 'pandas.core.series.Series'>
RangeIndex: 1575 entries, 0 to 1574
Series name: ch20m004
Non-Null Count  Dtype
--------------  -----
1575 non-null   float64
dtypes: float64(1)
memory usage: 12.4 KB
ch20m004
3.0    752
4.0    524
2.0    143
5.0    137
1.0     19
Name: count, dtype: int64

In [15]:
###########################################
# Logistic Regression Baseline Model
###########################################

"""
Baseline model 1 using logistic regression of 5 background variables:
    year of birth
    gender
    origin (recoded as binary Dutch or not Dutch)
    education
    median gross household income across waves

Split train/test at test size = 0.33; chance level = 0.23 (unbalanced)

Results: Baseline model does better than chance
"""


model_baseline_lr = LogisticRegression(random_state=42)

# Fit the model
model_baseline_lr.fit(X_train, y_train)

y_pred = model_baseline_lr.predict(X_test)

accuracy = model_baseline_lr.score(X_test, y_test)
precision, recall, f_score, support = precision_recall_fscore_support(
    y_test, y_pred,
    average='weighted')

print(f"Accuracy: {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall: {recall:.3f}")
print(f"F Score: {f_score:.3f}")

Accuracy: 0.502
Precision: 0.254
Recall: 0.502
F Score: 0.338

/Users/meetpatel/.pyenv/versions/3.8.12/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [16]:
###########################################
# Neural Network Baseline Model
###########################################

"""
Baseline model 1 using a Multi-Layer Perceptron Neural Network of 5 background variables:
    year of birth
    gender
    origin (recoded as binary Dutch or not Dutch)
    education
    median gross household income across waves

Split train/test at test size = 0.33; chance level = 0.23 (unbalanced)

Results: Baseline model does slightly better than chance
"""


model_baseline_mlp = MLPClassifier(random_state=42)

# Fit the model
model_baseline_mlp.fit(X_train, y_train)

y_pred = model_baseline_mlp.predict(X_test)

accuracy = model_baseline_mlp.score(X_test, y_test)
precision, recall, f_score, support = precision_recall_fscore_support(
    y_test, y_pred,
    average='weighted')

print(f"Accuracy: {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall: {recall:.3f}")
print(f"F Score: {f_score:.3f}")

Accuracy: 0.135
Precision: 0.347
Recall: 0.135
F Score: 0.122

In [ ]:
y_pred

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0.])

In [17]:
###########################################
# True Random Baseline Model
###########################################

"""
Baseline model 1 using a True Random classifier of 5 background variables:
    year of birth
    gender
    origin (recoded as binary Dutch or not Dutch)
    education
    median gross household income across waves

Split train/test at test size = 0.33; chance level = 0.23 (unbalanced)

Results: ?
"""

model_baseline_true_random = DummyClassifier(strategy="uniform", random_state=42)

# Fit the model
model_baseline_true_random.fit(X_train, y_train)

y_pred = model_baseline_true_random.predict(X_test)

accuracy = model_baseline_true_random.score(X_test, y_test)
precision, recall, f_score, support = precision_recall_fscore_support(
    y_test, y_pred,
    average='weighted')

print(f"Accuracy: {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall: {recall:.3f}")
print(f"F Score: {f_score:.3f}")

Accuracy: 0.181
Precision: 0.342
Recall: 0.181
F Score: 0.220

In [18]:
###########################################
# Stratified Random Baseline Model
###########################################

"""
Baseline model 1 using a True Random classifier of 5 background variables:
    year of birth
    gender
    origin (recoded as binary Dutch or not Dutch)
    education
    median gross household income across waves

Split train/test at test size = 0.33; chance level = 0.23 (unbalanced)

Results: ?
"""

model_baseline_strat_random = DummyClassifier(strategy="stratified", random_state=42)

# Fit the model
model_baseline_strat_random.fit(X_train, y_train)

y_pred = model_baseline_strat_random.predict(X_test)

accuracy = model_baseline_strat_random.score(X_test, y_test)
precision, recall, f_score, support = precision_recall_fscore_support(
    y_test, y_pred,
    average='weighted')

print(f"Accuracy: {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall: {recall:.3f}")
print(f"F Score: {f_score:.3f}")

Accuracy: 0.373
Precision: 0.383
Recall: 0.373
F Score: 0.377

In [19]:
###########################################
# Weighted Random Baseline Model
###########################################

"""
Baseline model 1 using a True Random classifier of 5 background variables:
    year of birth
    gender
    origin (recoded as binary Dutch or not Dutch)
    education
    median gross household income across waves

Split train/test at test size = 0.33; chance level = 0.23 (unbalanced)

Results: ?
"""

outcomes = [1, 2, 3, 4, 5]
weights = [19, 143, 752, 524, 137]

random.seed(42)

y_pred = [random.choices(outcomes, weights) for _ in range(len(X_test))]

y_results = 0
for i in range(len(y_test)):
    if y_test.iloc[i] == y_pred[i][0]:
        y_results += 1

accuracy = y_results/len(y_test)
precision, recall, f_score, support = precision_recall_fscore_support(
    y_test, y_pred,
    average='weighted')

print(f"Accuracy: {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall: {recall:.3f}")
print(f"F Score: {f_score:.3f}")

# metrics.PrecisionRecallDisplay.from_estimator(
#     model_baseline_strat_random, X_test, y_test, 
#     name="Baseline Stratified Random Dummy Classifier", 
#     plot_chance_level=True)

Accuracy: 0.371
Precision: 0.379
Recall: 0.371
F Score: 0.375

In [20]:
###########################################
# Gaussian NB Baseline Model
###########################################

"""
Baseline model 1 using a Gaussian NB of 5 background variables:
    year of birth
    gender
    origin (recoded as binary Dutch or not Dutch)
    education
    median gross household income across waves

Split train/test at test size = 0.33; chance level = 0.23 (unbalanced)

Results: Baseline model does slightly better than chance
"""


model_baseline_gnb = GaussianNB()

# Fit the model
model_baseline_gnb.fit(X_train, y_train)

y_pred = model_baseline_gnb.predict(X_test)

accuracy = model_baseline_gnb.score(X_test, y_test)
precision, recall, f_score, support = precision_recall_fscore_support(
    y_test, y_pred,
    average='weighted')

print(f"Accuracy: {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall: {recall:.3f}")
print(f"F Score: {f_score:.3f}")

Accuracy: 0.517
Precision: 0.410
Recall: 0.517
F Score: 0.444

/Users/meetpatel/.pyenv/versions/3.8.12/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [21]:
###########################################
# SVC Baseline Model
###########################################

"""
Baseline model 1 using a SVC of 5 background variables:
    year of birth
    gender
    origin (recoded as binary Dutch or not Dutch)
    education
    median gross household income across waves

Split train/test at test size = 0.33; chance level = 0.23 (unbalanced)

Results: Baseline model does slightly better than chance
"""


model_baseline_svc = SVC(random_state=42)

# Fit the model
model_baseline_svc.fit(X_train, y_train)

y_pred = model_baseline_svc.predict(X_test)

accuracy = model_baseline_svc.score(X_test, y_test)
precision, recall, f_score, support = precision_recall_fscore_support(
    y_test, y_pred,
    average='weighted')

print(f"Accuracy: {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall: {recall:.3f}")
print(f"F Score: {f_score:.3f}")

Accuracy: 0.504
Precision: 0.254
Recall: 0.504
F Score: 0.338

/Users/meetpatel/.pyenv/versions/3.8.12/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [22]:
###########################################
# Random Forest Baseline Model
###########################################

"""
Baseline model 1 using a Random Forest Classifier of 5 background variables:
    year of birth
    gender
    origin (recoded as binary Dutch or not Dutch)
    education
    median gross household income across waves

Split train/test at test size = 0.33; chance level = 0.23 (unbalanced)

Results: Baseline model does slightly better than chance
"""


model_baseline_rf = RandomForestClassifier(random_state=42)

# Fit the model
model_baseline_rf.fit(X_train, y_train)

y_pred = model_baseline_rf.predict(X_test)

accuracy = model_baseline_rf.score(X_test, y_test)
precision, recall, f_score, support = precision_recall_fscore_support(
    y_test, y_pred,
    average='weighted')

print(f"Accuracy: {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall: {recall:.3f}")
print(f"F Score: {f_score:.3f}")

Accuracy: 0.463
Precision: 0.424
Recall: 0.463
F Score: 0.442

In [23]:
###########################################
# KNN Baseline Model
###########################################

"""
Baseline model 1 using a KNN Classifier of 5 background variables:
    year of birth
    gender
    origin (recoded as binary Dutch or not Dutch)
    education
    median gross household income across waves

Split train/test at test size = 0.33; chance level = 0.23 (unbalanced)

Results: Baseline model does slightly better than chance
"""


model_baseline_knn = KNeighborsClassifier()

# Fit the model
model_baseline_knn.fit(X_train, y_train)

y_pred = model_baseline_knn.predict(X_test)

accuracy = model_baseline_knn.score(X_test, y_test)
precision, recall, f_score, support = precision_recall_fscore_support(
    y_test, y_pred,
    average='weighted')

print(f"Accuracy: {accuracy:.3f}")
print(f"Precision: {precision:.3f}")
print(f"Recall: {recall:.3f}")
print(f"F Score: {f_score:.3f}")

Accuracy: 0.423
Precision: 0.385
Recall: 0.423
F Score: 0.399